includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6

    paths:
        - src
        - tests/ProductAccessTest.php
        - tests/ProductControllerTest.php
        - tests/TestHelper.php

    tmpDir: var/cache/phpstan

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
